<div class="show-index list-all-shows" class="container">

  <h1>Shows Index Page</h1>

  <div class="show-buttons">
    <% if user_signed_in? %>
      <%= link_to "Add New Show", new_show_path, class:"btn-show" %>
    <% end %>
    <%= link_to "Main Page", root_path, class:"btn-show" %>
  </div>

  <% @shows.each do |show| %>

    <div class="row">
      <div class="col-sm-6 shows-box">
        <div class="row shows-info">
          <div class="half">
            <h4><%= link_to show.title, show_path(show) %></h4>
          </div>
          <div class="half">
            <h5><span class="glyphicon glyphicon-map-marker"></span><%= show.location %></h5>
          </div>
        </div>
        <div class="row shows-info">
          <div class="half">
            <h5><span class="glyphicon glyphicon-calendar"></span><%= show.show_date.try(:to_formatted_s, :long_ordinal) %></h5>
          </div>
          <div class="half">
            <h5><span class="glyphicon glyphicon-usd"></span><%= show.ticket_cost %></h5>
          </div>
        </div>
        <div class="row shows-info">
          <h5><%= show.description %></h5>
        </div>
      </div>
      <% if show.shows_img.exists? %>
      <div class="col-sm-6 shows-box">
        <%= image_tag show.shows_img.url(:shows_index) %>
      </div>
      <% end %>
    </div>
    <hr />
  <% end %>

</div>
