<div id="show-index" class="container text-center">
  <h1><%= @show.title %></h1>
  <h2><%= @show.location %></h2>
  <h3><%= @show.show_date %></h3>
  <h3><%= @show.ticket_cost %></h3>
  <h3><%= @show.description %></h3>
  <%= link_to "Back to All Shows", shows_path %>
  <% if user_signed_in? %>
    <%= link_to "Edit Show", edit_show_path(@show) %>
    <%= link_to "Delete Show", show_path(@show), method: :delete, data: {confirm: "Are you sure you want to delete this show?"} %>
  <% end %>
</div>
